* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    min-height: 47rem;
}
.form form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 20px 40px;
    border: 1px solid lightgray;
}
.form input{
    color: rgb(51, 51, 51);
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(243,243,243);
    border: 1px solid lightgray;
    margin: 0.2rem;
    padding: 8px;
    border-radius: 2px;
    font-size: 12px;
}
.form button{
    background-color: rgb(67, 155, 255);
    appearance: none;
    border: 2px;
    width: 100%;
    height: 30px;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    cursor:pointer;
}
.form button:hover{
    background-color: rgb(25, 115, 218);
    transition: 0.5s;
}

.separator{
    color: rgb(145, 145, 145);
    text-transform: uppercase;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.separator::after{
    margin: 1rem;
    content: '';
    width: 100px;
    height: 1px;
    display: block;
    background-color: rgb(145, 145, 145);
}
.separator::before{
    margin: 1rem;
    content: '';
    width: 100px;
    height: 1px;
    display: block;
    background-color: rgb(145, 145, 145);
}

.login-facebook{
    font-weight: bold;
    color: #385999;
    display: flex;
    align-items: center;
    margin: 0.3rem;
}
.forgot-password{
    color: #385999;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 1rem;
}

.sign-up{
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgray;
}
.sign-up a{
    color: rgb(25, 115, 218);
    font-weight: bold;
}

.get-app{
    text-align: center;
}
.get-app img{
    width: 136px;
}
.get-app p{
    margin-bottom: 20px;
}

.pitch{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 50%;
}
.pitch img{
    height: 47rem;
}
.instagram-logo{
    width: 15rem;
}

@media screen and (max-width: 1330px){
    .pitch{
        display: none;
    }
    .form{
        width: 50%;
    }
}
@media screen and (max-width: 1064px){
    .form{
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 500px){
    .separator::after{
        margin: 1rem;
        content: '';
        width: 30px;
        height: 1px;
        display: block;
        background-color: rgb(145, 145, 145);
    }
    .separator::before{
        margin: 1rem;
        content: '';
        width: 30px;
        height: 1px;
        display: block;
        background-color: rgb(145, 145, 145);
    }
    .instagram-logo{
        width: 8rem;
    }
}